@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

a,
button {
  cursor: pointer;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-family: "Noto Sans KR", sans-serif;
  z-index: 1;

  a {
    color: black;
    font-weight: 600;
  }

  .upperNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background-color: #f5f5f5;

    a {
      font-size: 12px;
      font-weight: 400;
    }
  }

  .menuBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    background-color: white;
    border-bottom: 2px solid #f5f5f5;
    z-index: 1;

    .nikeLogo {
      position: fixed;
      left: 20px;

      img {
        width: 30px;
        height: 30px;
      }
    }

    .menuText {
      display: flex;
      align-items: center;
      font-size: 16px;

      a:nth-child(1),
      :nth-child(2),
      :nth-child(3),
      :nth-child(4) {
        margin: 0 15px;
      }
    }

    .iconBox {
      position: fixed;
      right: 20px;
      display: flex;
      align-items: center;

      i {
        margin-left: 20px;
        font-size: 22px;
      }

      .searchBox {
        position: relative;

        .searchInput {
          width: 150px;
          height: 40px;
          padding-left: 20px;
          background-color: #f5f5f5;
          border: none;
          border-radius: 50px;

          &::placeholder {
            color: lightgray;
          }

          &:focus {
            outline: none;
          }
        }

        button {
          position: absolute;
          top: 8px;
          right: 10px;
          border: none;
          background-color: transparent;
        }
      }
    }
  }
}
